# This file serves as a template for the private environment variables required for the application.
# Create a `private.env` file by copying the variables from [private.env.example](../private.env.example) 
# NEVER commit this file to version control.

# APP_URL: The URL where the Teleport service is hosted. This varies depending on the environment:
#  - Local development: typically `http://localhost:8000`
#  - Staging/Production: the actual deployed domain
APP_URL=

# DATABASE_URL: The connection string for the Vercel PostgreSQL database that is also used by the frontend.
# It might look like: `postgres://username:password@localhost:5432/mydatabase`
DATABASE_URL=

# RPC_KEY: API key for blockchain RPC interactions
RPC_KEY=

# NFT_MINTER_MNEMONIC: Mnemonic phrase to derive the private key for the NFT minting account (first derived account is used)
NFT_MINTER_MNEMONIC=

# OPENAI_API_KEY: Required for accessing OpenAI services, specifically for safety assessment of tweets using the GPT-4o model
OPENAI_API_KEY=

# TWITTER_API_KEY: Authentication key for the Twitter API
TWITTER_CONSUMER_KEY=

# TWITTER_API_SECRET: Secret associated with the Twitter API credentials, used alongside the API key for secure authentication
TWITTER_CONSUMER_SECRET=
