# This file serves as a template for the private environment variables required for the application.
# Create a `private.env` file by copying the variables from [private.env.example](../private.env.example) 
# NEVER commit this file to version control.

# Rust config best practices:
# APP prefix is used for all environment variables to distinguish them from other environment variables.
# after loading the variables, the `APP_` prefix is removed.

# DATABASE_URL: The connection string for the Vercel PostgreSQL database that is also used by the frontend.
# It might look like: `postgres://username:password@localhost:5432/mydatabase`
APP_DATABASE_URL=

# RPC_KEY: API key for blockchain RPC interactions
APP_RPC_KEY=

# NFT_MINTER_MNEMONIC: Mnemonic phrase to derive the private key for the NFT minting account (first derived account is used)
APP_NFT_MINTER_MNEMONIC=

# OPENAI_API_KEY: Required for accessing OpenAI services, specifically for safety assessment of tweets using the GPT-4o model
APP_OPENAI_API_KEY=

# TWITTER_API_KEY: Authentication key for the Twitter API
APP_TWITTER_CONSUMER_KEY=

# TWITTER_API_SECRET: Secret associated with the Twitter API credentials, used alongside the API key for secure authentication
APP_TWITTER_CONSUMER_SECRET=
